.date-container{
    background-color: rgb(50, 45, 78);
    padding: 12px;
 
    margin-left: 20px;
    box-shadow: rgba(19, 17, 17, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(35, 27, 27, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
border-radius: 20px;

}
.day,.month,.year{
    color:white;
}